.container {
  display: flex;
  gap: 40px;
  align-items: start;
  height: 100vh;
}

.main {
  flex: 1;
}

.navigation {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

Link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

Link:hover {
  color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}
