.navigation {
  display: flex;
  min-width: 15rem;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--color-grey-light-2);
  height: 100vh;
  padding-left: 1rem;
  font-size: 1.6rem;
}

.logo-container {
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.logo {
  width: 10rem;
}

.navigation-item {
  margin-bottom: 2rem;
}

.navigation-list {
  margin-bottom: 3rem;
}

.navigation-item a {
  display: block;
  text-decoration: none;
  font-family: var(--font-cocogoose);
  color: var(--color-grey-dark);
  padding: 0.5rem 1rem;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
}

.log-out {
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark);
}

.log-out:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.social-media-icons {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  justify-content: center;
}

.social-media-icons li {
  margin-right: 1rem;
}

.social-media-icons li svg {
  font-size: 1.4rem;
}

.copyright p {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  letter-spacing: 2px;
}
