.cars-container {
  margin: 0 auto;
  padding: 80px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

/* AddCarItem.css */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}
