.my-reservations-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: var(--font-size-base * 1.5);
  color: var(--color-primary);
}

.reservations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reservations-table th,
.reservations-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.reservations-table th {
  background-color: var(--color-primary);
  color: var(--color-grey-dark);
}

.reservations-table td {
  color: var(--color-grey-dark);
}

p {
  font-size: 1.6rem;
  color: #333;
}
