* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: 700;
}